/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Color system for the app

$base-color: #3d3d3d;


$light-color: #f8f9e4;
$light-color-1: rgb(179, 178, 178);

$blue-color: #00b7e6;

$dark-color: #3a474e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: $light-color;
    padding: 5rem;
}