<!-- <div class="dashboard">
    <aside class="sidebar">
        <app-sidebar></app-sidebar>
    </aside>
    <div class="dashboard-content">
        <div class="grid grid-1"></div>
        <div class="grid grid-2"></div>
        <div class="grid grid-3"></div>
        <div class="grid grid-4"></div>
        <div class="grid grid-5"></div>
        <div class="grid grid 6"></div>
    </div>
</div> -->

<div class="dashboard">
    <div class="dashboard--brand">
        <img src="../../../assets/images/logo.png" alt="Penny Pal" class="dashboard--logo">
    </div>
    <div class="dashboard--sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="grid grid-1 dashboard__welcome">
        <div class="welcome">
            <h3 class="welcome__subtitle">Good Morning,</h3>
            <h3 class="welcome__title">John!</h3>

        </div>
    </div>
    <div class="grid grid-2 dashboard__savings">
        <div class="savings">
            <h2 class="savings__title">£3,450</h2>
            <p class="savings__text">Saved So Far<br>This Month.</p>
        </div>

    </div>
    <div class="grid grid-3"></div>
    <div class="grid grid-4"></div>
    <div class="grid grid-5"></div>
    <div class="grid grid-6"></div>
</div>